<div class="contact-cover"></div>

<section class="container ms-mt-35" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
  <mat-card class="info" fxLayout="column" fxFlex="50" fxLayoutGap="25px" fxLayoutAlign="start">
    <h3></h3>
    <p fxLayoutAlign="start center">
      <mat-icon>location_on</mat-icon>&nbsp;Parbatpura Beawar Byepass, Badgaon, AJMER – 305002 (Rajastan) India.
    </p>
    <p fxLayoutAlign="start center">
      <mat-icon>call</mat-icon>&nbsp;+91 - 9414003090
    </p>
    <p fxLayoutAlign="start center">
      <mat-icon>email</mat-icon>&nbsp;balprakash.ajmer@gmail.com
    </p>
  </mat-card>
  <mat-card class="contact-form" fxFlex="50">
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Email">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Phone">
        </mat-form-field>

        <mat-form-field fxFlex="50">
          <input matInput placeholder="Message">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Send</button>
    </div>
  </mat-card>
</section>
