<div class="about-us-cover">
  <div class="overlay">
    <p class="text-center">Ensuring a meaningful <br>tomorrow</p>
  </div>
</div>
<section class="container intro ms-mt-35">
  <h1 class="text-center"><img class="left" src="assets/images/left-quote.svg">Yawad bhumandalam dhatte sashail van kananam,<br>Tawat nishthati medinyam
    santati putra pautriki<br><small class="secondary-text-cl">Till this earth remains full of green vegetation, mountains and forests it shall provide for all needs of man and his progeny.</small>
    <img class="right" src="assets/images/right-quote.svg"></h1>
</section>
<section class="container ms-mt-35" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
  <div fxFlex="50">
    <p class="quote"><img src="assets/images/left-quote.svg">This fifteen year journey<img src="assets/images/right-quote.svg"></p>
  </div>
  <div fxLayout="column" fxLayoutGap="5px" fxFlex="50" fxLayoutAlign="streach end">
    <p class="secondary-text-cl">With meager resources but ample heart and conviction Bal Prakash began its journey with a small dormitory, a make-shift
      kitchen and classroom servicing five resident students to a campus that has grown brick by brick. Today the campus
      has two spacious halls, six toilets, a separate girls’ dorm with attached toilets, a warden’s quarter, a guest room
      to accommodate visiting volunteers/resources persons, and a newly constructed dining hall. This fifteen year journey
      has seen it grow to house 88 children. The school has a library, a computer room, and a vocational activity facility.
      The resident children have the benefit of a small dairy and vegetable cropping.</p><br>
  </div>
</section>
<section class="container ms-mt-35" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutGap="5px" fxFlex="50" fxLayoutAlign="streach end">
    <p class="text-right secondary-text-cl">In consonance with the idea of making learning and living an integrated experience, Bal Prakash sees the exigent need
      to sensitize the young to the alarming depletion of earths bounty. Rather than celebrate environment day, earth day
      etc, we have chosen to translate our concern for environment into tangible action. The school boasts of a rain-water
      harvesting reservoir and a vermi-compost unit. Our concern for environment has prompted us to undertake steps to conserve,
      reclaim, and redeem nature and its resources. Harnessing renewable energy is a tribute to the earth that sustains.
      In tune with this, we have installed solar heating panels and begun solar electrification. Simple initiatives like
      vermi- compost and engage. the residents in productively dealing with garden and kitchen waste. A nursery for indigenous
      and medicinal plants is underway. The campus is a green oasis with as many as 245 varieties of trees, shrubs, and herbs.
      To make the world you live in wholesome and healthy is the idea that informs all activities on campus, thus ensuring
      education beyond the text book.
    </p>
  </div>
  <div fxFlex="50">
    <p class="quote"><img src="assets/images/left-quote.svg">The idea of making learning and living<img src="assets/images/right-quote.svg"></p>
  </div>
</section>
<section class="container ms-mt-35" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
  <div fxFlex="50">
    <p class="quote"><img src="assets/images/left-quote.svg">New hope and strength<img src="assets/images/right-quote.svg"></p>
  </div>
  <div fxLayout="column" fxLayoutGap="5px" fxFlex="50" fxLayoutAlign="streach end">
    <p class="secondary-text-cl">Bal Prakash has striven and covered this ground entirely because of a motivated team of people who pitched in for whatever
      was required. Every hand that joins brings new hope and strength to the venture.</p>
  </div>
</section>

<section class="container ms-mt-35">
  <h2 class="text-center">The Trust</h2>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between">
    <p class="text-center"><b>Shri D.N. Mathur</b><br><span class="secondary-text-cl">Patron</span></p>
    <p class="text-center"><b>Smt. Kusum Paliwal</b><br><span class="secondary-text-cl">Managing Trustee</span></p>
    <p class="text-center"><b>Hari Shankar Ughra</b><br><span class="secondary-text-cl">President</span></p>
    <p class="text-center"><b>Dr. Sheela Updhyay</b><br><span class="secondary-text-cl">Secretary</span></p>
    <p class="text-center"><b>Dr. C.B. Gena</b><br><span class="secondary-text-cl">Vice President</span></p>
    <p class="text-center"><b>Dr. Rajkumari Jain</b><br><span class="secondary-text-cl">Joint Secretary</span></p>
  </div>
</section>

<section class="container ms-mt-35">
  <h2 class="text-center">Our Team</h2>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between">
    <p class="text-center"><b>Shri D.N. Mathur</b><br><span class="secondary-text-cl">Patron</span></p>
    <p class="text-center"><b>Smt. Kusum Paliwal</b><br><span class="secondary-text-cl">Managing Trustee</span></p>
    <p class="text-center"><b>Hari Shankar Ughra</b><br><span class="secondary-text-cl">President</span></p>
    <p class="text-center"><b>Dr. Sheela Updhyay</b><br><span class="secondary-text-cl">Secretary</span></p>
    <p class="text-center"><b>Dr. C.B. Gena</b><br><span class="secondary-text-cl">Vice President</span></p>
    <p class="text-center"><b>Dr. Rajkumari Jain</b><br><span class="secondary-text-cl">Joint Secretary</span></p>
  </div>
</section>

<section class="container ms-mt-35">
  <h2 class="text-center">Our Gameplan</h2>
  <div id="timeline">
    <div class="timeline-item">
      <div class="timeline-icon">
        <mat-icon>account_balance</mat-icon>
      </div>
      <div class="timeline-content">
        <h2>Upgrading infrastructure</h2>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <mat-icon>build</mat-icon>
      </div>
      <div class="timeline-content right">
        <h2 class="text-right">Setting up Craft workshops</h2>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <mat-icon>nature_people</mat-icon>

      </div>
      <div class="timeline-content">
        <h2>Upgrading vocational skills</h2>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <mat-icon>local_florist</mat-icon>

      </div>
      <div class="timeline-content right">
        <h2 class="text-right">Horticulture and nursery raising</h2>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <mat-icon>live_tv</mat-icon>

      </div>
      <div class="timeline-content">
        <h2>Theatre and music workshop</h2>
      </div>
    </div>
  </div>
</section>
