<header>
  <!--The content below is only a placeholder and can be replaced.-->
  <mat-toolbar color="primary" class="mat-elevation-z10">
    <img src="assets/images/logo.png" width="40">
    <a [routerLink]="['/']" class="brand"> Balprakash</a>
    <span class="example-spacer"></span>
    <div>
      <a [routerLink]="['/about-us']" class="nav-links" [ngClass]="{'active': checkCurrentRoute(aboutus)}" mat-button #aboutus>About Us</a>
      <a [routerLink]="['/videos']" class="nav-links" [ngClass]="{'active': checkCurrentRoute(video)}" mat-button #video>Videos</a>
      <a [routerLink]="['/gallery']" class="nav-links" [ngClass]="{'active': checkCurrentRoute(gallery)}" mat-button #gallery>Gallery</a>
      <a [routerLink]="['/contact-us']" class="nav-links" [ngClass]="{'active': checkCurrentRoute(contact)}" mat-button #contact>Contact Us</a>
    </div>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="footer-1">
    Donations in favour of the trust are valid for exemption Under 80G of the Income Tax Act. PAN : AAETS7723C
  </div>
  <div class="footer-2" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between">
    <p>Registration No. 172/Ajmer/2005-06</p>
    <p>© 2017-2018</p>
    <p>Shri Tikaram Paliwal & Prakash Paliwal Janhitkari Trust</p>
  </div>
</footer>
