<div class="carouser-wrapper">
  <carousel [sources]="imageSources" [config]="config"></carousel>
</div>
<section class="container" fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start">
  <h1>Bal Prakash Trust Ajmer</h1>
  <p class="admp"> <strong>The Dream</strong><br> Bal Prakash, a tangible dream, nestles in the now greened undulating land stretching over
    eleven bighas off Ajmer by-pass Beawar Road near Village- Badgaon, Ajmer, Rajasthan. Founded in 1996 by Shri Tikaram
    Paliwal &amp; Prakash Paliwal Janhitkari Trust, it seeks to insure the child's today to ensure a meaningful tomorrow.
    <br>
  </p>
</section>
<section class="container vision" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutGap="5px" fxFlex="60" fxLayoutAlign="streach end">
    <h2>The Vision & Mission</h2>
    <p class="text-right">Life at Bal Prakash is geared to inculcating self-reliance. Activities that sustain the ties of these rural children
      with the soil are encouraged and an endeavour is made to engage them in elementary horticulture, vermiculture, cattle
      keeping for dairy, organic farming, nursery practices, carpentry, tailoring, making cloth/paper bags and sundry items
      of everyday use made from waste material, albeit at an elementary level, are afoot.</p>
  </div>
  <div fxFlex="40">
    <img class="img-responsive" src="assets/images/vision.svg" alt="think">
  </div>
</section>
